@media(max-width: 1200px){
    #namaste{
        padding-left: 7px !important;
        font-size: 48px !important;
    }

    #text_2{
        padding-right: 10% !important;
    }

    #intro{
        top: 74% !important;
        left: 7% !important;
    }
    
    #intro h1{
        font-size: 52px !important;
    }
    
    .typerTarget{
        letter-spacing: 2px;
        font-size: 20px !important;
    }
}

@media(max-width: 850px){
    #namaste{
        padding-left: 6px !important;
        font-size: 45px !important;
    }

    #text_2{
        padding-right: 5% !important;
    }

    #intro{
        top: 73% !important;
        left: 5% !important;
    }
    
    #intro h1{
        font-size: 45px !important;
    }
    
    .typerTarget{
        letter-spacing: 1px;
        font-size: 19px !important;
    }
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #212663;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-track:hover{
    background: black;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(65, 65, 255);
}

/*
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 15px solid #414749;
    border-radius: 50%;
    border-top: 15px solid #4d4aff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/

#loader {
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #000000;
}

#inloader {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

#inloader div {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: inloader 1.8s cubic-bezier(0,0.2,0.8,1) infinite;
}

#inloader div:nth-child(1) {
    border-color: #ff1919;
}

#inloader div:nth-child(2) {
    border-color: #27ff5d;
    animation-delay: -1.2s;
}
#inloader div:nth-child(3) {
    border-color: #3c58fc;
    animation-delay: -0.6s;
}

#inloader div {
    box-sizing: content-box; 
}

@keyframes inloader {
    0% {
      top: 80px;
      left: 80px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 120px;
      height: 120px;
      opacity: 0;
    }
}

body,html{
    font-family: "Roboto", sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid{
    height: 100%;
}


#main{
    display: none;
}

canvas {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 0.9;
}

#intro{
    display: none;
    position: absolute;
    opacity: 0;
    transform: translate(0,-50%);
    top: 75%;
    left: 8%;
    z-index: 1;
    color:deepskyblue;
}

#namaste{
    position: static;
    padding-left: 8px;
    font-size: 58px !important;
    font-family: "Satisfy" !important;
}

#text_2{
    padding-right: inherit;
}

#intro h1{
    position: static;
    font-family: "Comfortaa";
    font-size: 58px;
}

/*
#contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(170, 170, 170);

    background-color: darkslategray;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 7px;
    padding: 10px 10px;
}

#contact:hover{
    border: white;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
    color:  rgb(53, 67, 255);
}
*/

@keyframes blink-caret {
    50% {
      border-color: transparent;
    }
}

@-webkit-keyframes blink-caret {
    50% {
      border-color: transparent;
    }
}
  
.typerTarget {
    border-right: 1px solid #404145;
    -webkit-animation: blink-caret 0.5s step-end infinite alternate;
            animation: blink-caret 0.5s step-end infinite alternate;
}
  
.typerTarget {
    padding-left: 4px;
    font-family: "Raleway";
    letter-spacing: 2px;
    font-size: 24px;
    animation: blink-caret 0.5s step-end infinite alternate;
    border-right: 2px solid deepskyblue;
    color: inherit;
    margin: 0;
    display: inline-block;
}

#workaround{
    font-size: 24px;
    margin: 0;
}

#welcome{
    height: 50%;
    padding: 0 30%;
}

#welcome > .row{
    position: relative;
    height: 100%;
}

#welcome > .row > .col-12{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#welcome > .row > .col-12 > h2{
    color: rgb(215, 215, 215);
    font-family: "Quicksand", sans-serif;
    font-size: 45px;
}

#welcome > .row > .col-12 > p{
    color: rgb(130, 130, 130);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    padding-top: 10px;
}

#pf-item > h3{
    padding-top: 5%;
    font-size: 28px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(180, 180, 180);
}

#pf-item > p{
    padding-top: 1%;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(131, 131, 131);
}

#pf > .row{
    background-color: rgb(20, 30, 30);
}

.fa-paint-brush{
    color: rgb(128, 64, 0);
}

.fa-mobile{
    color: royalblue;
}

.fa-wave-square{
    color: rgb(170, 0, 0);
}

.fa-bolt{
    color: rgb(0, 146, 214);
}

/* Media Queries */
@media(max-width: 576px){

    #main{
        padding-left: 0;
        padding-right: 0;
    }

    #welcome{
        height: 35%;
        padding: 0 5%;
    }

    #welcome > .row > .col-12 > h2{
        font-size: 35px;
    }
    
    #welcome > .row > .col-12 > p{
        font-size: 18px;
        padding-top: 7px;
    }
    
    #pf{
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    #pf-item{
        padding: 6%;
    }

    #pf-item > i{
        font-size: 55px;
    }

    #pf > .row{
        margin: 0;
        padding: 10%;
        border-radius: 50px;
    }

    #pf-item > h3{
        padding-top: 2%;
        font-size: 24px;
    }
    
    #pf-item > p{
        padding-top: 0%;
        font-size: 14px;
    }
}

@media(min-width: 576px){
    #main{
        padding-left: 0;
        padding-right: 0;
    }

    #welcome{
        height: 35%;
        padding: 0 5%;
    }

    #welcome > .row > .col-12 > h2{
        font-size: 35px;
    }
    
    #welcome > .row > .col-12 > p{
        font-size: 18px;
        padding-top: 7px;
    }

    #pf{
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    #pf-item{
        padding: 6%;
    }

    #pf-item > i{
        font-size: 60px;
    }

    #pf > .row{
        padding: 10%;
        margin: 0;
        border-radius: 50px;
    } 

    #pf-item > h3{
        font-size: 25px;
        padding-top: 3%;

    }
    
    #pf-item > p{
        font-size: 15px;
        padding-top: 0%;

    }
}

@media(min-width: 768px){
    #main{
        padding-left: 0;
        padding-right: 0;
    }

    #welcome{
        height: 45%;
        padding: 0 5%;
    }

    #welcome > .row > .col-12 > h2{
        font-size: 40px;
    }
    
    #welcome > .row > .col-12 > p{
        font-size: 18px;
        padding-top: 10px;
    }

    #pf{
        width: 100% !important;

    }

    #pf-item{
        padding: 1% 10%; 
    }

    #pf-item > i{
        font-size: 60px;
    }

    #pf > .row{
        margin: 0;
        padding: 5%;
        border-radius: 40px;
    }

    #pf-item > h3{
        padding-top: 5%;
        font-size: 28px;
    }
    
    #pf-item > p{
        padding-top: 1%;
        font-size: 18px;
    }
}

@media(min-width: 992px){
    #main{
        padding-left: 0;
        padding-right: 0;
    }

    #welcome{
        height: 50%;
        padding: 0 15%;
    }

    #welcome > .row > .col-12 > h2{
        font-size: 44px;
    }
    
    #welcome > .row > .col-12 > p{
        font-size: 20px;
        padding-top: 10px;
    }

    #pf{
        width: 100% !important;
    }

    #pf-item{
        padding: 3% 15%; 
    }

    #pf-item > i{
        font-size: 70px;
    }

    #pf > .row{
        margin: 0;
        padding: 5%;
        border-radius: 45px;
    }

    #pf-item > h3{
        padding-top: 5%;
        font-size: 28px;
    }
    
    #pf-item > p{
        padding-top: 1%;
        font-size: 18px;
    }
}

@media(min-width: 1200px){
    #welcome{
        height: 50%;
        padding: 0 30%;
    }

    #welcome > .row > .col-12 > h2{
        padding-top: 10px;
        font-size: 48px;
    }
    
    #welcome > .row > .col-12 > p{
        font-size: 24px;
        padding-top: 15px;
    }

    #pf{
        width: 100% !important;
    }

    #pf-item{
        padding: 3% 3%; 
    }

    #pf > .row{
        margin: 0 10%;
        padding: 3%;
        border-radius: 50px;
    }

    #pf-item > i{
        font-size: 80px;
    }

    #pf-item > h3{
        padding-top: 8%;
        font-size: 28px;
    }
    
    #pf-item > p{
        padding-top: 1%;
        font-size: 18px;
    }
}

@media(min-width: 1600px){
    #pf-item > i{
        font-size: 100px;
    }

    #pf > .row{
        margin: 0 12%;
        padding: 2% 3%;
        border-radius: 50px;
    }

    #pf-item > h3{
        font-size: 30px;
    }
    
    #pf-item > p{
        font-size: 20px;
    }
}